@media (max-width: 768px) {
    .container {
        padding: 1rem;
/*         width: 60%; */
        margin: 5%;
        box-sizing: border-box;
    }
    .opening {
        font-size: 1.8rem;
        margin: 0;
        padding: 0.5rem 1rem;
    }
    .closing {
        position: relative;
        bottom: auto;
        right: auto;
        margin: 1rem auto;
/*         width: 60%; */
    }
}
body {
    margin: 20px auto;
    background-color: #b8c5ce;
    font-family: "LXGW WenKai Mono TC";
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #69747c;
}
::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background-color: #545454;
}
.container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.opening {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0 2em;
    padding: 1em;
}
.line::after, .opening::after {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background: #69747c;
    margin: 20px auto;
}
ul,li {
    list-style: none;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul li {
    color: #000;
    background: #e6e0ae;
    display: block;
    height: 15.5em;
    width: 15.5em;
    padding: 2em;
    margin: 2em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
}
ul li {
    transform: rotate(-6deg);
}
ul li img {
    transition: transform 0.15s ease;
    border-radius: 4px;
}
ul li:hover img {
    transform: scale(1.1);
}
ul li:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #f0544f;
}
ul li:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
}
ul li:nth-child(5n) {
    transform: rotate(3deg);
    position: relative;
    top: -10px;
    background: #e07a5f;
}
ul li:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
}
h2 {
    font-size: 1.1rem;
}
p {
    font-size: 1rem;
    font-weight: normal;
}
.keterangan {
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(77, 76, 76);
    padding: 0;
    margin: 1em auto;
}
.pesan1, .pesan2 {
    position: relative;
}
.pesan1::before, .pesan2::before {
    content: "❤";
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}
.closing {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
p {
    font-size: 1.2rem;
}








